<h1>修改订单信息</h1>

<%= render "form", order: @order %>

<br>

<%if current_customer? %>
<div>
  <%= link_to "显示", customer_order_path(@customer,@order) ,class: 'btn btn-primary'%> |
  <%= link_to "返回", customer_orders_path(@customer) ,class:  "btn btn-secondary"%>
</div>
<%end %>
