<div id="<%= dom_id comment %>">
  <p>
    <strong>Commodity:</strong>
    <%= comment.Commodity_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= comment.Customer_id %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= comment.text %>
  </p>

</div>
