<h1>编辑店铺信息</h1>

<%= render "form", shop: @shop %>

<br>

<div>
<!--  <%#= link_to "Show this shop", seller_shop_path(@seller,@shop) %> |-->
  <%#= link_to "Back to shops", seller_shops_path(@seller) %>
</div>
