<p style="color: green"><%= notice %></p>

<h1>Sellers</h1>

<!--商城是由所有的seller组成的， 应该支持小店的图片显示-->

<div id="sellers">
  <% @sellers.each do |seller| %>
    <%= render seller %>
    <p>
      <%= link_to "Show this seller", seller %>
    </p>
  <% end %>
</div>





<%#= link_to "New seller", new_seller_path %>
