/*
 * This is a manifest file that'll be compiled into application.css, which will include commodities the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

  /* 添加阴影效果 */
hr {
  border: none;
  height: 2px; /* 设置水平线的高度 */
  background: #111111; /* 设置水平线的颜色 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 添加阴影效果，可以根据需要调整参数 */
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #495057;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3em;
  color: #007bff;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

h5 {
  font-size: 1.2em;
  margin-bottom: 1em;
}

/* Animation Effects */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply Animation to Elements */
h1, h3, h4, h5 {
  animation: fadeIn 1s ease-in-out;
}
h5 {
  font-size: 1.2em;
  margin-bottom: 1em;
  white-space: pre-line;
}
 .clickable {
   cursor: pointer;
   transition: transform 0.2s ease-in-out;
 }

.clickable:hover {
  color: #007bff; /* 更改颜色为 Bootstrap 主题颜色 */
}

.clickable:active {
  transform: translateY(2px);
}
/* Add this to your CSS file or style tag */
.navbar-text {
  font-weight: bold;
  color: #333; /* Customize the color */
}

.btn-navbar {
  transition: transform 0.2s ease-in-out; /* Add a smooth transition effect */
}

/* Optional: Add more styles as needed */


