<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f8f9fa;
        color: #495057;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    h1 {
        font-size: 3em;
        color: #007bff;
        margin-bottom: 0.5em;
    }

    h3 {
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    h4 {
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }

    h5 {
        font-size: 1.2em;
        margin-bottom: 1em;
    }

    /* Animation Effects */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    /* Apply Animation to Elements */
    h1, h3, h4, h5 {
        animation: fadeIn 1s ease-in-out;
    }
    h5 {
        font-size: 1.2em;
        margin-bottom: 1em;
        white-space: pre-line;
    }

</style>
<h1>给他一个 GPT</h1>
<h3>他可以东拼西凑</h3>
<h4>造出一个网站 供大家浅浅玩玩</h4><h5>在这 作为顾客，你可以享受顾客的权力；作为商家，你可以享受商家的权力；作为管理员，你拥有至高无上的 root 权力！</h5>

