.<style>

    .centered-text {

        margin: 0;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom right, #3498db, #2ecc71);
        -webkit-background-clip: text;
        color: transparent;
        text-align: center;
        font-family: 'Arial', sans-serif;
        text-shadow: 2px 2px 4px rgba(104, 0, 0, 0.5);
    }

    .centered-text h1 {
        font-size: 90px;
        background-clip: text;
        color: transparent;
    }
</style>

<div class="centered-text">
  <h1>欢迎来到嗨购一下</h1>
</div>