<!-- app/views/dashboard/recent_logins.html.erb -->
<h1>身边人</h1>

<% if @recent_logins.any? %>
  <ul class="list-group">
    <% @recent_logins.each do |user| %>
      <li class="list-group-item"><%= user.user_name %> - Last Login: <%= user.last_sign_in_at %></li>
    <% end %>
  </ul>
<% else %>
  <p>No recent logins to display.</p>
<% end %>
