<div id="<%= dom_id commodity %>">
<!--  显示商品的信息-->
  <h3><%= commodity.name %></h3>
<!--  <p><%#= commodity. %></p>-->
  <p>价格：<%= commodity.price %></p>
<!--  <p><%#= commodity.quantity %></p>-->
  <p>所属品类：<%= commodity.categories %></p>
<!--  <p><%#= commodity.user.name %></p>-->
<!--  <p><%#= commodity.created_at %></p>-->
<!--  <p><%#= commodity.updated_at %></p>-->
<!--  <p><%#= link_to 'Edit', edit_commodity_path(commodity) %></p>-->
<!--  <p><%#= link_to 'Destroy', commodity, method: :delete, data: { confirm: 'Are you sure?' } %></p>-->
</div>
